// Static colors
$black: #000000;
$white: #ffffff;

//// Project colors
$main_color: #ffffff9e;
$accent_color: $white;
$accent_color_bright: #c5cbd5;
$but_color: #f7c72a;
$header_bg_color: rgba($black, 0.8);

//$hover_color: #90b9c0;
//$text_color: #1a1a1a;
//$box-shadow_color: rgba(#2e2e2e, 0.75);
//$box-shadow_border_color: rgba(#2e2e2e, 0.4);
//$box-shadow_btn_color: rgba(#2e2e2e, 0.5);

//$benefit-link_color: #408c63;
//$footer_bg_color: #52617a;
//$advantages_bg_color_blue: #4c5970;
//$advantages-link_bg_color_blue: #32435f;
//$service-include-item_black: #2e2e2e;
//$service-include-table_green: #9bd1b1;
//$service-include-table-third-item_green: rgba(
//  $service-include-table_green,
//  0.2
//);
//$selected_color: $blue;
//$after-line_color: #aeccd1;
//$dark-bg_color: rgba(#626262, 0.2);
//$underline_color: #b3b3b3;
//$underline-accent_color: #3e7c53;
//$checkbox-border_color: #7c7c7c;
//$error_color: #c4302d;
//
//// Calendar
//$calendar-th-reg_color: #3d4365;
//$calendar-td-reg_color: #67be8d;
//$calendar-td-weekend_color: #a3c8cd;
//$calendar-month_color: #61859d;
//$calendar-year_color: #3b3f63;
//$calendar-shadow_color: #acaeaf;
//$time-picker-border_color: #9dc6cc;
